@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: darkgray;
}

header{
    background-image: linear-gradient(to top, darkgray, white) ;

}

header > h1{
    padding: 10px;
    text-align: center;
}

menu{
    display: block;
}
menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: gray;
    border-top: 2px solid black;
}

menu > ul > li > a:hover{
    text-shadow: 1px 2px 1px black;
    background-color: lightgray;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.411);
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}