/*Estilo para impressão*/

@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu{
    display: none
}

article{
    width: 100%;
    text-align: justify;
}

article::after{
    content: 'Este artigo foi impresso através do site www.cursoemvideo.com'
}